{% extends "base.html" %}

{% block content %}
<h2>Standings</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Player</th>
            <th>Tot.</th>
            <th>W</th>
            <th>L</th>
        </tr>
    </thead>
    <tbody>
        {% for p, counts in standings %}
            <tr>
                <td>{{ p }}</td>
                <td>{{ counts.total }}</td>
                <td>{{ counts.winners }}</td>
                <td>{{ counts.losers }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
